---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Blog', href: '/blog' }
    // Add more links like About or Contact if needed later
];
---

<nav class="flex items-center justify-between pt-6 pb-6 sm:pt-10 sm:pb-10 border-b border-gray-700">
    <a href="/" class="flex items-center gap-2 text-xl font-bold">
        <Logo />
        <span class="hidden sm:inline">Josue's Blog</span>
    </a>
    <ul class="flex gap-4 text-sm sm:text-base">
        {
            navItems.map((item) => (
                <li>
                    <a href={item.href} class="hover:underline text-white">
                        {item.linkText}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
